// SCREEN STYLING

// Please reference global/styles.scss for all global styles (i.e. if there is a style guide for your project, set the classes for each style there.)
// global directory is a great place to store all reusable classes, use below to make style adjustments per object level

// ICONS 
// Sets up icons in the CSS for use in HTML.
// For full list of names, see: styles/icons/_entypo.scss and disregard the beginning $entypo-

body {
	background: $white;
}
