/* Fontfaces */

//- Import Google Web Fonts or TypeKit
//
// Sample: @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
// Store fonts in fonts directory if serving ourselves

//- Build font-faces using the template below
//
// Sample:
// @font-face {
//    font-family: 'PatronBold';
//    src: url('fonts/patron_bold_v1001-webfont.eot');
//    src: url('fonts/patron_bold_v1001-webfont.eot?#iefix') format('embedded-opentype'),
//         url('fonts/patron_bold_v1001-webfont.woff') format('woff'),
//         url('fonts/patron_bold_v1001-webfont.ttf') format('truetype'),
//         url('fonts/patron_bold_v1001-webfont.svg#PatronBold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}


//- Create font stacks using the template below, include them by using @include fontFamilyName(); in CSS
//
//  Sample:
//  @mixin fontFamilyName() {
//		font-family: 'fontFaceFamilyName', sans-serif;
//		font-weight: normal;
//  }
