// Other Global Tools
html * {
  box-sizing: border-box;
  -webkit-font-smoothing: $font-smoothing;
  -webkit-text-size-adjust:none;
}

body {
  -webkit-backface-visibility:(hidden); // Fixes Chrome 1px shift rendering issue on CSS3 transitions.
}
